<li class="card p-2 m-2">
  <div>
    <div class="button">
      <i class="fas fa-times-circle" (click)="deleteQuote()"></i>
    </div>

    {{ quote.actualQuote }}
  </div>
  <div class="author">- {{ quote.author }}</div>
  <div class="d-flex justify-content-between quote-stats">
    <div class="vote-icons d-flex justify-content-center">
      <div class="upvote d-flex justify-content-center">
        <i class="fas fa-thumbs-up mx-2" (click)="likeClick()"></i>
        <p class="like">{{ likeCounter }}</p>
      </div>
      <div class="downvote d-flex justify-content-center">
        <i class="fas fa-thumbs-down mx-2" (click)="dislikeClick()"></i>
        <p class="dislike">{{ dislikeCounter }}</p>
      </div>
    </div>
    <div class="details">
      <a href="#" (click)="toggleDetails()"> {{ linkName }}</a>
      <!-- Link Quote Details -->
      <quote-details
        [quoteDetail]="quote"
        [showDetails]="showDetails"
      ></quote-details>
    </div>
  </div>
</li>
