<div class="row">
  <div class="col-md-6">
    <form>
      <!-- Field for your name -->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Enter your name"
        />
      </div>
      <div class="form-group">
        <textarea
          name=""
          id="quote"
          cols="30"
          rows="5"
          placeholder="Input Quote"
        ></textarea>
      </div>
      <!-- Field for author -->
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="author"
          placeholder="Enter Author"
        />
      </div>

      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
