/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Calistoga|PT+Sans+Narrow:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e3e3e3;
  font-family: "PT Sans Narrow";
}

.container {
  width: 80%;
  margin: 0 auto;
}

#quoted {
  font-family: "Calistoga";
  font-size: 1.5rem;
}
